(
	{ "title" = "Home"; "d2wContext" = { "task" = "NULL"; "type" = "NULL"; "target" = "web"; }; },
	{ "title" = "Presentations"; "d2wContext" = { "task" = "list"; "type" = "pachyderm.presentation"; "target" = "web"; }; },
	{ "title" = "Media"; "d2wContext" = { "task" = "list"; "type" = "pachyderm.resource"; "target" = "web"; }; }
)