<wo:switch WOComponentName="PageWrapFirstUse" logo="large"
                    logout="FALSE" credits="TRUE" badges="TRUE" height="240px">

<!-- - - - - - - - - - LOGO AND LINKS  - - - - - - - - - -->
<div>
 <wo:if condition="[application.loginLinks]" negate="TRUE">
  <ul style="list-style-type: none; display: inline;">
  <wo:repeat list="[application.loginLinks]" item="[tempString]">
   <li><wo:string value="[tempString]" escapeHTML="FALSE"/></li>
  </wo:repeat>
  </ul>
 </wo:if>
</div>

<!-- - - - - - - - - - - - MESSAGE - - - - - - - - - - - -->
<wo:if condition="[application.messageOfTheDay.length]">
 <div class="MOTD">
  <wo:string value="[application.messageOfTheDay]" escapeHTML="FALSE"/></div></wo:if>

<!-- - - - - - - - - - - - PANEL CENTER - - - - - - - - - - -->
<div class="W300">
 <h2>Welcome to Pachyderm <wo:string value="[application.releaseVersion]"/></h2><br/>
 <wo:if condition="[message]"><div style="color:red"><wo:string value="[message]" /></div></wo:if>
 <wo:form name="authform" onload="document.authform.userfield.focus()">
  <table style="font-family:Arial,Helvetica,sans-serif; font-size:11px;" cellpadding="5px">
   <tr><td align="right">USERNAME:</td><td><wo:FocusTextField value="[username]" size="20"/></td></tr>
   <tr><td align="right">PASSWORD:</td><td><wo:WOPasswordField value="[password]" size="20"/></td></tr>
   <tr><td><wo:link pageName="UserForgotPassword">Forgotten<br/>Password?</wo:link></td><td style="text-align:right">
           <wo:submit value="Log In" action="[loginAction]" class="blok tint edge"/></td></tr>
  </table></wo:form></div>
<!-- - - - - - - - - - - - PANEL  RIGHT - - - - - - - - - - -->
<div class="W360 BL1S"><wo:string value="[pachyLicense]" escapeHTML="FALSE" /></div>

</wo:switch>