<wo:switch WOComponentName="[pageWrapperName]" 
                      css1="style/pachyderm.css">

<h2>Edit Media File</h2>

<div class="W160">
 <wo:if condition="[isImageAsset]">
  <wo:if condition="[resourceOffline]"><wo:image filename="images/asset_missing.gif"/>
  <wo:else><wo:image src="[imagePreviewLink]"/></wo:else></wo:if>
 <wo:else>
  <wo:image filename="[thumbLink]"/></wo:else></wo:if>
  <p><wo:if condition="[isFlashAsset]">
     <wo:ERXDataHyperlink pageName="FlashPreview" 
                       previewPath="[assetLink]" 
                    otherTagString="target='_blank'" 
                             class="blok tint edge">Preview Medium</wo:ERXDataHyperlink><wo:else>
     <wo:link href="[assetLink]" target="_blank" class="blok tint edge">Preview Medium</wo:link></wo:else></wo:if></p>
  Submitted:<br/><wo:string value="[dateSubmitted]" dateformat="%b %d, %Y at %I:%M %p"/><br /><br />
   Modified:<br/><wo:string value="[dateModified]" dateformat="%b %d, %Y at %I:%M %p"/>
</div>

<div id="mediaPanel">
  <wo:form multipleSubmit="TRUE">
  <table width="100%">
    <tr>
      <td><wo:link action="[nextPage]" class="blok tint edge">Cancel</wo:link></td>
      <td align="right"><wo:submit action="[updateAction]" value="Update Media" class="blok tint edge"/></td>
    </tr>
    
    <tr>
      <td width="50%" valign="top"><h2  class="media_details">Basic Search Information:</h2>
        <label class="media_details">Title <sup>(+)</sup>:</label>
        <wo:textfield value="[title]" size="25" class="media_details" />
        <br />
        <label class="media_details">Unique Identifier / Accession # <sup>(+)</sup>:</label>
        <div class="media_details_explanation">a sequential number given to an item.</div>
        <wo:textfield value="[identifierURI]" size="25" class="media_details" />
        <br />
        <label class="media_details">Description <sup>(+)</sup>:</label>
        <wo:text value="[description]" rows="5" cols="25" class="media_details" />
        <br />
        <label class="media_details">Subject / Keywords <sup>(+)</sup>:</label>
        <wo:text value="[subject]" rows="5" cols="25" class="media_details" />
        <br />              
        <h2  class="media_details"><label class="media_details">Media Label:</label>
          <div class="media_details_explanation">displayed in your presentation when the &quot;i&quot; is clicked.</div></h2>
        <wo:text value="[mediaLabel]" rows="5" cols="25" class="media_details" />
      </td>
      <td width="50%" valign="top"><h2  class="media_details">Accessibility:</h2>
        <wo:if condition="[canHaveAltText]"><label class="media_details">Alternative Text:</label>
            <div class="media_details_explanation">read by screen readers in place of images; text should be short.</div>
            <wo:textfield value="[altText]" size="25" class="media_details" />
        </wo:if>
        <wo:if condition="[canHaveLongDesc]"><label class="media_details">Long Description:</label>
            <div class="media_details_explanation">read by screen readers to explain images in greater detail. </div>
            <wo:text value="[longDesc]" rows="5" cols="25" class="media_details" />
        </wo:if>
        <wo:if condition="[canHaveSynchronizedCaption]"><label class="media_details">Synchronized Caption:</label>
            <wo:if condition="[isSyncCaption]">
              <wo:submit action="[editCaption]" value="Edit Synchronized Caption" class="blok tint edge"/>
              <wo:image alt="Edit Caption" 
                   filename="images/cc_off.gif" 
                      style="position:relative; top:5px;"/>
            <wo:else>
              <wo:submit action="[editCaption]" value="Add Synchronized Caption" class="blok tint edge"/>
            </wo:else></wo:if>
        </wo:if>
        <br />
        <wo:if condition="[canHaveTranscript]">
          <label class="media_details">Transcript for Audio/Video:</label>
          <wo:if condition="[isTranscript]">
            <wo:submit action="[editTranscript]" value="Edit Transcript" class="blok tint edge"/>
            <wo:image alt="Edit Transcript" 
                 filename="images/transcript_off.gif" 
                    style="position:relative; top:5px;"/>
          <wo:else>
            <wo:submit action="[editTranscript]" value="Add Transcript" class="blok tint edge"/>
          </wo:else></wo:if>
        </wo:if>
        <h2 class="media_details">Copyright Information:</h2>
        <label class="media_details">Publisher <sup>(+)</sup>:</label>
        <wo:textfield value="[publisher]" size="25" class="media_details" />
        <br />
        <label class="media_details">Rights Holder:</label>
        <div class="media_details_text"><wo:string value="[rightsHolderValue]" /></div>
        <label class="media_details">License:</label>
        <wo:textfield value="[license]" size="25" class="media_details" />
        <br />
        <label class="media_details">Date Copyrighted:</label>
        <wo:textfield value="[dateCopyrighted]" size="25" class="media_details" />
        <br />
        <label class="media_details">Creator <sup>(+)</sup>:</label>
        <wo:textfield value="[creator]" size="25" class="media_details" />
        <br />
        <h2  class="media_details"><label class="media_details">Share with Others?</label></h2>
        <table width="89%" border="0" cellspacing="0" cellpadding="5">
          <tr>
            <td valign="top"><wo:if condition="[permissionsPrivate]"><wo:popUpButton list="[accessRightsList]" 
                                                                                     item="[accessRight]" 
                                                                            displayString="[accessRight.name]" 
                                                                                selection="[accessRightObject]"/></wo:if></td>
            <td valign="top">
            <wo:if condition="[permissionsPrivate]">
                This media is marked <b>private</b>.<br /><br /> 
                <span style="color:#990000;">If it is changed to public, it cannot be set to private again.</span>
            <wo:else>
                This media is marked <b>public</b>.<br /><br />Public assets allow all authors to use the asset 
                in their presentations.
            </wo:else></wo:if></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

<wo:AjaxExpansion action="[toggleAction]" insertion="Effect.blind" insertionDuration="0.5" expanded="[expandedState]">

  <div class="media_dotted_bottom"/>

  <table width="100%">
    <tr>
      <td valign="top"><h2 class="media_details">Extended Metadata:</h2>
        <label class="media_details">Alternative Title:</label>
        <wo:textfield value="[alternative]" size="25" class="media_details" />
        <br />
        <label class="media_details">Language <sup>(+)</sup>:</label>
        <wo:textfield value="[language]" size="25" class="media_details" />
        <br />
        <label class="media_details">Relation <sup>(+)</sup>:</label>
        <wo:textfield value="[relation]" size="25" class="media_details" />
        <br />
        <label class="media_details">Coverage <sup>(+)</sup>:</label>
        <wo:textfield value="[coverage]" size="25" class="media_details" />
        <br />
        <label class="media_details">Source <sup>(+)</sup>:</label>
        <wo:textfield value="[source]" size="25" class="media_details" />
        <br />
        <label class="media_details">Rights <sup>(+)</sup>:</label>
        <wo:textfield value="[rights]" size="25" class="media_details" />
        <br />
        <label class="media_details">Mediator:</label>
        <wo:textfield value="[mediator]" size="25" class="media_details" />
        <br />
        <label class="media_details">Date Accepted:</label>
        <wo:textfield value="[dateAccepted]" size="25" class="media_details" />
        <br />
        <label class="media_details">Date Issued:</label>
        <wo:textfield value="[dateIssued]" size="25" class="media_details" />
        <br />
        <label class="media_details">Date Created:</label>
        <wo:textfield value="[dateCreated]" size="25" class="media_details" />
        <br />
        <label class="media_details">Date Associated <sup>(+)</sup>:</label>
        <wo:textfield value="[dateAssociated]" size="25" class="media_details" />
        <br />
      </td>
      <td valign="top"><h2  class="media_details">Technical Information:</h2>
        <label class="media_details">Type <sup>(+)</sup>:</label>
        <div class="media_details_text"><wo:string value="[type]" /></div>
        <label class="media_details">Format <sup>(+)</sup>:</label>
        <div class="media_details_text"><wo:string value="[format]" /></div>
        <label class="media_details">Medium:</label>
        <wo:textfield value="[medium]" size="25" class="media_details" />
        <br />
        <label class="media_details">Extent:</label>
        <wo:textfield value="[extent]" size="25" class="media_details" />
        <br />
        <br />
        <br />
        <br />
        <label class="media_details">Audience:</label>
        <wo:textfield value="[audience]" size="25" class="media_details" />
        <br />
        <label class="media_details">Education Level:</label>
        <wo:textfield value="[educationLevel]" size="25" class="media_details" />
        <br />
        <label class="media_details">Contributor <sup>(+)</sup>:</label>
        <wo:textfield value="[contributor]" size="25" class="media_details" />
        <br />
        <label class="media_details">Instructional Method:</label>
        <wo:textfield value="[instructionalMethod]" size="25" class="media_details" />
        <br />
        <label class="media_details">Spatial:</label>
        <wo:textfield value="[spatial]" size="25" class="media_details" />
        <br />
        <label class="media_details">Temporal:</label>
        <wo:textfield value="[temporal]" size="25" class="media_details" />
        <br />
        <label class="media_details">Provenance:</label>
        <wo:textfield value="[provenance]" size="25" class="media_details" />
        <br />
      </td>
    </tr>

    <tr>
      <td colspan="2"><sup>(+)</sup> Dublin Core element
        <div class="media_dotted_bottom">&nbsp;</div></td>
    </tr>

    <tr>
      <td><wo:link action="[nextPage]" class="blok tint edge">Return to Search Results</wo:link></td>
      <td align="right"><wo:submit action="[updateAction]" value="Update Media" class="blok tint edge"/></td> <!-- was class=media_details -->
    </tr>
  </table>

<wo:ERXWOTemplate templateName="label">
 <span style="font-size:14px;"><wo:link action="[toggleAction]" class="blok tint edge">
 <wo:if condition="[expandedState]">Show Less &#x25BC;<wo:else>Show more &#x25BA;</wo:else></wo:if>
 </wo:link></span>
</wo:ERXWOTemplate>

</wo:AjaxExpansion>
<br/>  
  </wo:form>
</div>
</wo:switch>