<wo:switch WOComponentName="[pageWrapperName]"
                      css1="style/pachyderm.css">
<h2>Edit My Pachyderm Account</h2>
  
  <wo:if condition="[success]"><p style="color:green"><wo:string value="[message]" escapeHTML="FALSE"/></p>
                      <wo:else><p style="color:red"><wo:string value="[message]" escapeHTML="FALSE"/></p></wo:else></wo:if>

<wo:form multipleSubmit="TRUE">
	<table border="0px">
	<tr><td width="80px" align="right">Username:</td><td width="80px"><wo:string value="[username]" /></td><td width="75%">&nbsp;</td></tr>
	<tr><td colspan="3">&nbsp;</td></tr>
	<tr><td align="right">First Name: </td><td><wo:textfield value="[person.firstName]" /></td><td>&nbsp;</td></tr>
	<tr><td align="right">Last Name:</td><td><wo:textfield value="[lastName]" /></td><td>&nbsp;</td></tr>
	<tr><td align="right">Email:</td><td><wo:textfield value="[workMail]" style="width:220px;"/></td><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td><td colspan="2">To keep your current password, leave these password fields blank. 
	               <br/>To change your password, type your new password into both password fields.</td></tr>
	<tr><td align="right">Password:</td><td><wo:WOPasswordField value="[password1]" /></td><td>&nbsp;</td></tr>
	<tr><td align="right">Password (confirm):</td><td><wo:WOPasswordField value="[password2]" /></td><td>&nbsp;</td></tr>
    <tr><td align="right" colspan="3">
      <wo:link action="[cancelAction]" class="blok tint edge">Cancel</wo:link>&nbsp;&nbsp;&nbsp;
      <wo:submit value="Submit" action="[updateAction]" class="blok tint edge"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
	</table>
</wo:form>
</wo:switch>