<h1>Pachyderm Help</h1>

<p><strong>Overview</strong><br>
This is help information for using this Pachyderm presentation.  For additional help or information about Pachyderm, go to <a href="http://www.pachyforge.org" target=_blank>PachyForge.org</a>.</p>

<p><strong>Navigation</strong><br>
You navigate through a pachyderm presentation by clicking on links on the screen.  Links can be pictures, icons, or text.    Icons provide an indication of whether a link will play some media (video or audio), or link to another screen, an external website, or to download a document.  Once you have navigated past the opening or "Home" screen of a presentation, a "Home" button and a "back" button appear in the upper right-hand corner of the screen.  "Back" takes you back one screen, "Home" takes you back to the opening screen.</p>

<p><strong>Scrolling Text Fields</strong><br>
Some text fields have more information than can be displayed on the screen at one time.  When this is the case, a scroll bar will appear at the right edge of the text field.  The position of the scroll bar indicates where you are in the text (top/middle/bottom).  The length of the scroll bar indicates how much of the text you are viewing.  To scroll the text in the field, click/touch the text and drag up or down in the text field.  </p>

<p><strong>Playing Media</strong><br>
When video or audio is available to be played back, controls appear underneath the media.  The standard play, pause, and stop buttons are available.  Videos can also be played and paused by clicking on the video frame.  Buttons for closed captions (CC), transcripts (=), and info (i) about the media also appear with the playback controls when those pieces of information are available.  A media item can also have a link to a related screen, website, or document that appears as an icon on the far left of the controls.</p>

<p><strong>Closed Captions (CC)</strong><br>
This button toggles between displaying and hiding captions that are synchronized with the video.  Captions are displayed across the lower third of the video on a semi-transparent background.  This can be turned to 100% black if needed by clicking on the Contrast button in the lower right portion of the presentation screen.</p>

<p><strong>Text Transcripts</strong><br>
This button toggles between displaying and hiding a text transcript of the video or audio.  The transcript is displayed on a semi-transparent background which can be turned to 100% opaque by clicking on the Contrast button in the lower right portion of the presentation screen.</p>

<p><strong>Media Info</strong><br>
This button toggles between displaying and hiding information about the media being played.  This info is displayed on a semi-transparent background which can be turned to 100% opaque by clicking on the Contrast button in the lower right portion of the presentation screen.</p>

<p><strong>Accessibility buttons</strong><br>
In the lower right corner of the presentation screen are buttons related to the accessibility functions for Pachyderm presentations.  Each of these buttons toggles their functions on and off:  </p>

<p><strong>*  Info (i) - </strong>Displays information about the presentation and the screen you are on.  Used by screen readers to orient the user to what is on the screen.</p>

<p><strong>*  Contrast (split square) - </strong>Increases screen contrast for all text areas that are not black & white.</p>

<p><strong>*  Help (?) - </strong>Displays both general and screen specific help information for using the presentation.</p>

Note: If you need to increase text size for readabiltiy, use your browser's controls to do this.</p>

<p><strong>Screen Reader Support</strong><br>
Support for screen reader functions have been added into the standard Pachyderm templates.  This includes appropriate read order of screen elements, access  to alternate text and long descriptions for media, and keyboard navigation and control of of screen functions.   Testing and debugging of screen reader support is still in process.</p>

<p><strong>Keyboard Navigation</strong><br>
The Tab key can be used to move through the elements of a Pachyderm screen.  Screen elements are surrounded by a yellow highlight when they are selected.  Pressing the Enter key when an element is selected activates that element (e.g. button, media, scroll arrow, etc.).    Holding down the shift key and pressing Tab moves backward through the screen elements. </p>

<p><strong>Known problems</strong><br>
The following are known problems with Pachyderm 2.1</p>