<h1>Pachyderm Info:</h1>
<p>You are using an HTML5 interactive multimedia presentation created with Pachyderm.  
   The following is a description of the overall navigation framework for Pachyderm presentations:</p>

<p>There are two menus that are present on most of the screens of this presentation. 
   The top menu contains two buttons, the home button and the back button. The bottom 
   menu contains accessibility functions including screen information (which you are 
   reading), increase contrast, and accessibility help. If you need to increase the 
   font size for readability, use your browser controls to do this.  The area between 
   the top and bottom menu is the screen's main content.  </p>

<p>While all Pachyderm screens have a title and subtitle in the upper left corner 
   (except the Zoom screen), the layout and functions of the main content area will 
   vary depending on screen type(s) used by the presentation author.  Pachyderm has 
   many different screen types, and each has unique content elements and controls for 
   moving through information on that screen.  A description for each of the screen 
   types is provided below. Please note that if a Pachyderm author has customized a 
   screen and didn't modify this help file, then the description may not match what 
   is on the screen or how it works.</p>

<p>Note also that the content area of most screens may contain one or more "media 
   slots".  A media slot may contain a still image and/or a video or audio file, a 
   text caption, and a link to another screen, a document, or a website.  Media files 
   assigned to a media slot (images, video or audio) may have a media label, transcript, 
   synchronized captions, and/or alt text associated with them.</p>


<div class="info-commentary">
<h1>Commentary Screen</h1>
<p>Commentary has a main media slot on the left, text in the center, and three links 
   on the right.  Each of the 3 links on the right can link to another screen, an 
   external website, a document to download, or it can play a media file in the main 
   media area on the left.   If a link plays a media file on the left, clicking the 
   stop button on that media will return the screen to it's original state.</p>
</div>

<div class="info-slider">
<h1>Slider Screen</h1>
<p>You access information on the Slider screen by clicking on the circles along the 
   slider line at the bottom of the screen.  Clicking on a circle changes the information 
   displayed above the slider line.  If there are more points on the line than can fit 
   on the screen, an arrow will appear at the right edge of the line.  Clicking on the 
   arrow will scroll the slider line to the right and expose additional points.  Once 
   you have scrolled to the right, another scroll arrow will appear on the left edge of 
   the slider line.  Clicking on this arrow will scroll the line back in the opposite 
   direction.  For each point on the slider line, a media slot is displayed on the left 
   and a text field on the right. </p>
</div>

<div class="info-media_focus">
<h1>Media Focus and Enlargement Screens</h1>
<p>The Media Focus screen has text on one side and a media slot on the other.  Other 
   than the standard controls described in the general help associated with a media playback, 
   this screen contains no other special controls.  The Enlargement screen contains the same 
   elements, but the media slot is on the left and the text is on the right.</p>
</div>

<div class="info-phonedial">
<h1>Phone Dial Screen</h1>
<p>The Phone Dial has a series of circles arrayed in a larger circle reminiscent of an 
   old style telephone dial.  When you click on a circle, additional information is displayed 
   about what is connected to that circle.  Clicking on a circle a second time accesses the 
   content linked to it.  Each of the circles can link to another screen, an external url, 
   or document.  Because unused circles in the phone dial are invisible, patterns other than 
   a complete phone dial may appear on this screen. Additionally up to two links may appear 
   below the text on the left side of the screen.</p>
</div>

<div class="info-aspects">
<h1>Aspects Screen</h1>
<p>You navigate through information on this screen by clicking on any of the 6 thumbnail 
   images arranged in two vertical columns on the right and left side of the screen.  
   Information related to a thumbnail is displayed in a center column, with text at the 
   top and media at the bottom.  Clicking on another thumbnail changes the information 
   in the center of the screen.  Each thumbnail can activate the display of a picture,
   a video or audio, and an optional link to another screen, a website, or a document in 
   the center area.  Any of the 6 thumbnail slots can be left empty.</p>
</div>

<div class="info-exploration_entry">
<h1>Exploration Entry Screen</h1>
<p>Clicking on any of the 6 text/picture elements on this screen will take you to it's 
   linked content.   Each of the 6 elements can be linked to another screen, a website, or 
   a document download.  A media slot in the center of the screen can contain a picture, a 
   video or audio file, and a link to either another screen, a website, or a document to download. </p>
</div>

<div class="info-zoom">
<h1>Zoom Screen</h1>
<p>The Zoom screen displays the assigned image across most of the screen.  A band of 
   controls across the bottom provide audio playback, text info, and navigation. For zooming 
   the image in or out, use the magnifying glass controls a the bottom center of the image. 
   For touch devices, use a pinching action to zoom in or out.  For scrolling the view on a 
   zoomed image, click/touch and drag the image to the desired view.  </p>

<p>If audio has been assigned to the screen (up to 2 tracks possible), a set of playback 
   controls will appear on the far left for each track.  If a transcript (=) or information 
   (i) about the audio is available, icons for these will appear also.  Links for page text 
   or a link to another screen will also appear if they have been assigned.  </p>
</div>

<div class="info-layers">
<h1>Layers Screen</h1>
<p>A main text field in the upper right provides an overview of the information on this 
   screen.  You navigate the other information in the "Layers" of this screen by clicking 
   on any of the text items with blue triangles on the right side of the screen under the 
   main text.  When you click on one of these text layers, text for that layer appears in 
   the bottom right, and slots for media and information on the left side of the screen 
   change.  Each "layer" of information can have a main media slot in the upper left, and 
   two smaller media slots in the lower left. </p>
</div>

<div class="info-series">
<h1>Series Screen</h1>
<p>The Series Screen presents introductory text and media information in the upper part 
   of the screen, and then a series of clickable thumbnails along the bottom of the screen.  
   If there are more thumbnails in the series than can be displayed at the bottom of the 
   screen, a scroll arrow appears at the right edge of the screen.  Clicking it scrolls the 
   thumbnails to the left, and causes another scroll arrow to appear on the left edge of 
   the screen.  Clicking the left scroll arrow scrolls thumbnails back to the right.</p>

<p>Clicking on any thumbnail takes you to a Zoom Screen of that image.  Once on a Zoom 
   Screen, all the normal zoom controls apply (see Zoom Screen explanation below).  When 
   on a Zoom Screen, you can also use a set of right and left arrows in the lower left 
   corner to step forward or backward through the series of images.  A back button (<--) 
   in the lower left corner of the Zoom Screen returns you to Series intro screen.  </p>
</div>

<div class="info-zoom">
<h1>Zoom Screen</h1>
<p>The Zoom screen displays the assigned image across most of the screen.  A band of controls 
   across the bottom provide audio playback, text info, and navigation. For zooming the image 
   in or out, use the magnifying glass controls a the bottom center of the image. For touch 
   devices, use a pinching action to zoom in or out.  For scrolling the view on a zoomed image, 
   click/touch and drag the image to the desired view.  </p>

<p>If audio has been assigned to the screen (up to 2 tracks possible), a set of playback 
   controls will appear on the far left for each track.  If a transcript (=) or information
   (i) about the audio is available, icons for these will appear also.  Links for page text 
   or a link to another screen will also appear if they have been assigned.  </p>
</div>

<div class="info-dual_comparison">
<h1>Dual Comparison Screen</h1>
<p>A text field at the top of the screen provides context for the content presented in the 
   two media slots displayed side by side below it.  Three buttons above the text field for 
   Overview, Item 1, and Item 2, can change the content in the text field to provide separate 
   descriptions for content in the media slots.</p>
</div>

<div class="info-fullscreen_swf">
<h1>Full Screen SWF Player</h1>
<p>This screen has not text content and plays back whatever Flash content is assigned to it.</p>
</div>
