<wo:switch WOComponentName="PXMinimalPageWrapper"
                    logout="FALSE" credits="FALSE" height="240px"
                      css1="style/pachyderm.css" logo="large">

<div class="W300">
 <wo:if condition="[emailSent]">

  <h2>Welcome to Pachyderm <wo:string value="[application.releaseVersion]"/></h2>
   <p style="font-weight: bold;">A password was sent to your email address. <br />
            Please log in once you receive it, and change your password:</p>
   <wo:form multipleSubmit="TRUE">
    <wo:if condition="[authFailure]"><div style="color:red">Incorrect username/password</div></wo:if>
    <table style="font-family:Arial,Helvetica,sans-serif; font-size:11px;" cellpadding="5px">
     <tr><td align="right">USERNAME:</td><td><wo:textfield value="[enteredID]" size="20"/></td></tr>
     <tr><td align="right">PASSWORD:</td><td><wo:WOPasswordField value="[enteredPW]" size="20"/></td></tr>
     <tr><td  colspan="2" style="text-align:right">
     <wo:submit value="Log In" action="[loginAction]" class="blok tint edge"/></td></tr>
    </table>
   </wo:form>

 <wo:else>

  <h2>Forgot your password?</h2>
  <wo:if condition="[enteredID]">
   <h4 style="color:red;"><wo:string value="[message]" escapeHTML="false"/></h4></wo:if>

  <p style="font-weight:bold;">Please enter your username:</p>
  <wo:form multipleSubmit="TRUE">
   <p><wo:textfield value="[enteredID]"/></p>
   <p><wo:submit value="EMail New Password" action="[forgotAction]" class="blok tint edge"/>&nbsp;
      &nbsp;&nbsp;<wo:submit value="Cancel" action="[cancelAction]" class="blok tint edge"/></p></wo:form>

 </wo:else></wo:if>

</div>
<div class="W360 BL1S"><wo:string value="[pachyLicense]" escapeHTML="FALSE" /></div>
</wo:switch>